@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Montserrat:300,400,700,900&display=swap');

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-image: radial-gradient(circle at center center, rgb(86, 197, 113),rgb(77, 181, 95),rgb(67, 165, 77),rgb(58, 149, 59),rgb(48, 133, 41));
  background-repeat: no-repeat;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  justify-content: center;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#price {
  color: #fff;
  font-family: "Maven Pro", arial, helvetica, sans-serif;
  font-size: 18vw;
  font-weight: 700;
  text-shadow: 0 2vw 2vw rgba(37, 39, 41, .2), -.5vw 0 rgba(37, 39, 41, .5), 0 .5vw rgba(37, 39, 41, .5), .5vw 0 rgba(37, 39, 41, .5), 0 -.5vw rgba(37, 39, 41, .5);
}

.app {
  display: flex;
  flex-directioN: column;
  justify-content: center;
  align-items: center;
}

.timer {
  margin-top: 0px;
  width: 15px;
}

.disc {
  transform: rotate(-90deg);
  width: 100%;
}

.disc circle {
  animation: 300s linear infinite circle--animation;
  fill: transparent;
  stroke: rgba(255,255,255,.5);
  stroke-width: 10;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  stroke-dasharray: 360;
  stroke-dashoffset: 80;
}

@keyframes circle--animation {
  0% {
    stroke-dashoffset: 80;
  }

  50% {
    stroke-dashoffset: 360;
  }
}
